* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_627 {
  width: 100%;
  height: 4806px;
  background: rgba(13,15,18,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_630 {
  width: 100%;
  height: 4755px;
  background: url("../images/v2_630.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_632 {
  width: 100%;
  height: 497px;
  background: rgba(255,255,255,1);
  padding: 50px 80px;
  opacity: 1;
  position: absolute;
  top: 1166px;
  left: 0px;
  overflow: hidden;
}
.v2_633 {
  width: 649px;
  height: 397px;
  background: url("../images/v2_633.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 80px;
  overflow: hidden;
}
.v2_635 {
  width: 100%;
  height: 533px;
  background: linear-gradient(rgba(0,125,164,1), rgba(0,193,222,1));
  padding: 50px 80px;
  opacity: 1;
  position: absolute;
  top: 3953px;
  left: 0px;
  overflow: hidden;
}
.v2_636 {
  width: 649px;
  height: 433px;
  background: url("../images/v2_636.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 80px;
  overflow: hidden;
}
.v2_637 {
  width: 100%;
  height: 189px;
  background: url("../images/v2_637.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 19px;
  opacity: 1;
  position: absolute;
  top: 4566px;
  left: 0px;
  overflow: hidden;
}
.v2_640 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 695px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 23px;
  opacity: 1;
  text-align: center;
}
.v2_645 {
  width: 100%;
  height: 119px;
  background: url("../images/v2_645.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 80px;
  overflow: hidden;
}
.v2_646 {
  width: 100%;
  height: 119px;
  background: url("../images/v2_646.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 180px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 340px;
  overflow: hidden;
}
.v2_648 {
  width: 160px;
  height: 103px;
  background: url("../images/v2_648.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 90px;
  overflow: hidden;
}
.v2_649 {
  width: 160px;
  height: 35px;
  background: url("../images/v2_649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 430px;
  overflow: hidden;
}
.v2_650 {
  width: 160px;
  height: 35px;
  background: url("../images/v2_650.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_652 {
  width: 160px;
  height: 80px;
  background: url("../images/v2_652.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 770px;
  overflow: hidden;
}
.v2_653 {
  width: 160px;
  height: 80px;
  background: url("../images/v2_653.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_654 {
  width: 160px;
  height: 80px;
  background: url("../images/v2_654.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1110px;
  overflow: hidden;
}
.v2_655 {
  width: 160px;
  height: 80px;
  background: url("../images/v2_655.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_656 {
  width: 160px;
  height: 80px;
  background: url("../images/v2_656.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 1450px;
  overflow: hidden;
}
.v2_657 {
  width: 160px;
  height: 80px;
  background: url("../images/v2_657.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_658 {
  width: 100%;
  height: 630px;
  background: url("../images/v2_658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_659 {
  width: 100%;
  height: 630px;
  background: url("../images/v2_659.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_660 {
  width: 100%;
  height: 630px;
  background: linear-gradient(rgba(0,50,63,0.6000000238418579), rgba(0,50,63,0.6000000238418579));
  padding: 149px 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_662 {
  width: 1000px;
  height: 330px;
  background: url("../images/v2_662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 0px;
  overflow: hidden;
}
.v2_664 {
  width: 800px;
  height: 150px;
  background: url("../images/v2_664.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 100px;
  overflow: hidden;
}
.v2_665 {
  width: 705px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v2_670 {
  width: 758px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 166px;
  left: 100px;
  font-family: Inter;
  font-weight: Light;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v2_682 {
  width: 100%;
  height: 98px;
  background: url("../images/v2_682.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 500px;
  left: 0px;
  overflow: hidden;
}
.v2_686 {
  width: 8px;
  height: 8px;
  background: rgba(0,111,151,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 100px;
  border: 1px solid rgba(0,111,151,1);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_687 {
  width: 243px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 113px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_689 {
  width: 8px;
  height: 8px;
  background: url("../images/v2_689.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 361px;
  border: 1px solid rgba(255,255,255,0.4000000059604645);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_692 {
  width: 186px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 38px;
  left: 374px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_693 {
  width: 8px;
  height: 8px;
  background: url("../images/v2_693.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 565px;
  border: 1px solid rgba(255,255,255,0.4000000059604645);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_694 {
  width: 109px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 38px;
  left: 578px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_695 {
  width: 8px;
  height: 8px;
  background: url("../images/v2_695.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 707px;
  border: 1px solid rgba(255,255,255,0.4000000059604645);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_696 {
  width: 165px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 38px;
  left: 720px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_697 {
  width: 8px;
  height: 8px;
  background: url("../images/v2_697.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 905px;
  border: 1px solid rgba(255,255,255,0.4000000059604645);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_698 {
  width: 113px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 38px;
  left: 918px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_699 {
  width: 8px;
  height: 8px;
  background: url("../images/v2_699.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 1052px;
  border: 1px solid rgba(255,255,255,0.4000000059604645);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}
.v2_700 {
  width: 110px;
  color: rgba(255,255,255,0.699999988079071);
  position: absolute;
  top: 38px;
  left: 1065px;
  font-family: Inter;
  font-weight: Light;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v2_701 {
  width: 100%;
  height: 345px;
  background: rgba(35,39,47,1);
  opacity: 1;
  position: absolute;
  top: 1663px;
  left: 0px;
  overflow: hidden;
}
.v2_704 {
  width: 100%;
  height: 858px;
  background: rgba(35,39,47,1);
  padding: 40px 80px;
  opacity: 1;
  position: absolute;
  top: 2008px;
  left: 0px;
  overflow: hidden;
}
.v2_705 {
  width: 100%;
  height: 768px;
  background: url("../images/v2_705.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 80px;
  overflow: hidden;
}
.v2_709 {
  width: 100%;
  height: 759px;
  background: url("../images/v2_709.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 5px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v2_710 {
  width: 100%;
  height: 177px;
  background: rgba(57,61,66,1);
  opacity: 1;
  position: absolute;
  top: 2867px;
  left: 0px;
  overflow: hidden;
}
.v2_711 {
  width: 100%;
  height: 908px;
  background: rgba(57,61,66,1);
  opacity: 1;
  position: absolute;
  top: 3044px;
  left: 0px;
  overflow: hidden;
}
